.team-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -khtml-border-radius: 100px; 
    width: 200px;
    height: 200px;
}

.grid-container {
    width : 100%;
    max-width : 550px;
    margin: auto;	
}

#team figcaption {
	padding-top: 10px;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
}

.col-1-4{
    width: 33.00%;
}

/*
@media all and (max-width:750px){
    .col-1-4{ width: 100%; }

}
*/

h1, h2, .center {
    text-align: center;
    font-style: normal;
    margin:0;
}

#logoTitle {
    font-size: 7em;
    color:#000033;
    font-style: normal;
    font-style: normal;
    font-weight: 200;
    margin: 0;   
}

.sectionTitles {
    font-size: 2em;
    color:#000033;
    font-style: normal;
    font-style: normal;
    font-weight: 200;
}

#missionStmt{
    padding-left: 145px; 
    padding-right: 145px;
    padding-bottom: 30px;
    font-size: 1.3em;
}

p,i {
    color:#669999;
}

a:link {
    text-decoration: none;
    font-size: 20px;
    color:#000033;
}

a:hover {
    color:#669999;
}

a:active {
    color:#000033;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}